h1{
    /* property:value */
    color: darkgreen;}

h1, h2, h3 {
    background-color: orangered;
  }

  h1, h2, h3 {
    text-align: center;
  }

  p {
    color: maroon;
    font-family: "Times New Roman", Times, serif;
  }

  p b, p i {
    color: red;
  }

  h4 {
    color: chocolate;
  }

  body {
    margin: 2%;
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }